{% extends "base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <h1 type="hidden">Articles</h1>
                {% for article in articles %}
                    <div class="card mb-4">
                        <img class="card-img-top" src="/img/{{ article.imagePath }}" width="300"
                             height="350"
                             alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">{{ article.title }}</h2>
                            {{ (article.content|striptags)[0:120] }}..
                            <p class="card-text"></p>
                            <a href="/article/{{ article.slug }}" class="btn btn-primary">Devamını Oku
                                &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            {{ article.createdAt|date }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h5 class="card-header">Search</h5>
                <div class="card my-5">
                    <div class="card-body">
                        <form action="search" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Search for...">
                                <span class="input-group-append"><input type="submit"></span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="single category">
                        <h3 class="side-title">Category</h3>
                        <ul class="list-unstyled">
                            {% for category in general.categories %}
                                <li>
                                    <a href="/categories/{{ category.name }}"><strong>{{ category.name }}</strong></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}